body{
	font-size: 12px;
	background-color: #C0C0C0FF;
	font-family: 'Roboto', sans-serif;
}

.header-top{
	height: 60px;
	background-color: white;
	border-bottom: 1px solid #303030BF;	
}

.logotype img{
	width: 50px;
	border-radius: 50%;
}

.main-content{
	height: 600px;
	background-color: #FFFFFFFF;

}

/*Card T-shirts*/


.main-footer{
	height: 70px;
	background-color: black;
}