<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Funny T-Shirts</title>

	<meta name="viewport" content="width=device-width, user-scalable=no">

	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/bootstrap-grid.min.css">
	<link rel="stylesheet" href="css/style.css">

	<!-- Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	<link rel="stylesheet" href="css/fontawesome-all.min.css">

	<!-- Jquery -->
	<script src="js/jquery-3.3.1.min.js"></script>

</head>

<body>

	<header class="container-fluid header-top">
		<div class="row">
			<div class="col-4 logotype">
				<a href="#Home"><img src="img/logo-tienda.jpg" alt="Logo tienda"></a>
			</div>
			<div class="col-3">

				
			</div>
			<div class="col-5">
				
			</div>
		</div>
	</header>
	<section class="container-fluid main-content">
		<article class="row">
			<div class="col-8 main-products" id="products">
				<!-- Lista de productos -->


	<div class="item-wrap">
            
            <!--Item: begins-->
            <div class="item" ng-repeat="product in store.products | orderBy: 'name'">
                <h2>Rick to the Future</h2>
                <img src="img/imgH1.jpg" alt="T-shirt">
                <p>Camiseta molona de la serie Rick and Morty</p>
                <h3>10€</h3>
                <button class="button" ng-show="product.canPurchase">Add to Cart</button>
            </div>

           	<div class="item" ng-repeat="product in store.products | orderBy: 'name'">
                <h2>Rick to the Future</h2>
                <img src="img/imgH2.jpg" alt="T-shirt">
                <p>Camiseta molona de la serie Rick and Morty</p>
                <h3>10€</h3>
                <button class="button" ng-show="product.canPurchase">Add to Cart</button>
            </div>

            <div class="item" ng-repeat="product in store.products | orderBy: 'name'">
                <h2>Rick to the Future</h2>
                <img src="img/imgH3.jpg" alt="T-shirt">
                <p>Camiseta molona de la serie Rick and Morty</p>
                <h3>10€</h3>
                <button class="button" ng-show="product.canPurchase">Add to Cart</button>
            </div>

            <div class="item" ng-repeat="product in store.products | orderBy: 'name'">
                <h2>Rick to the Future</h2>
                <img src="img/imgH4.jpg" alt="T-shirt">
                <p>Camiseta molona de la serie Rick and Morty</p>
                <h3>10€</h3>
                <button class="button" ng-show="product.canPurchase">Add to Cart</button>
            </div>

           <div class="item" ng-repeat="product in store.products | orderBy: 'name'">
                <h2>Rick to the Future</h2>
                <img src="img/imgH5.jpg" alt="T-shirt">
                <p>Camiseta molona de la serie Rick and Morty</p>
                <h3>10€</h3>
                <button class="button" ng-show="product.canPurchase">Add to Cart</button>
            </div>

           <div class="item" ng-repeat="product in store.products | orderBy: 'name'">
                <h2>Rick to the Future</h2>
                <img src="img/imgH6.jpg" alt="T-shirt">
                <p>Camiseta molona de la serie Rick and Morty</p>
                <h3>10€</h3>
                <button class="button" ng-show="product.canPurchase">Add to Cart</button>
            </div>

            <div class="item" ng-repeat="product in store.products | orderBy: 'name'">
                <h2>Rick to the Future</h2>
                <img src="img/imgH7.jpg" alt="T-shirt">
                <p>Camiseta molona de la serie Rick and Morty</p>
                <h3>10€</h3>
                <button class="button" ng-show="product.canPurchase">Add to Cart</button>
            </div>
            <!--Item: ends-->
        
        </div>
        <!--Item Wrap: ends-->
    
    </div>








				<div class="card col-4 card-product">
				  
					<div class="container">
  
  <div class="heading">
    <h1>Shopping Cart</h1>
  </div>
  
  <div class="cart transition is-open">    
    
    <div class="table">
      
      <div class="layout-inline row th">
        <div class="col col-pro">Product</div>
        <div class="col col-price align-center "> 
          Price
        </div>
        <div class="col col-qty align-center">QTY</div>
        <div class="col">VAT</div>
        <div class="col">Total</div>
      </div>
      
      <div class="layout-inline row">
        
        <div class="col col-pro layout-inline">
          <p>Rick to the Future</p>
        </div>
        
        <div class="col col-price col-numeric align-center ">
          <p>10€</p>
        </div>

        <div class="col col-qty layout-inline">
          <a href="#" class="qty qty-minus">-</a>
            <input type="numeric" value="3" />
          <a href="#" class="qty qty-plus">+</a>
        </div>
        
        <div class="col col-vat col-numeric">
          <p>2€</p>
        </div>
        <div class="col col-total col-numeric">   
        	<p> 12€</p>
        </div>
      </div>

      <div class="layout-inline row-bg2">
        
        <div class="col col-pro layout-inline">
          <p>Rick to the Future</p>
        </div>
        
        <div class="col col-price col-numeric align-center ">
          <p>10€</p>
        </div>

        <div class="col col-qty layout-inline">
          <a href="#" class="qty qty-minus">-</a>
            <input type="numeric" value="3" />
          <a href="#" class="qty qty-plus">+</a>
        </div>
        
        <div class="col col-vat col-numeric">
          <p>2€</p>
        </div>
        <div class="col col-total col-numeric">   
        	<p> 12€</p>
        </div>
      </div>
      
      <div class="layout-inline row">
        
        <div class="col col-pro layout-inline">
          <p>Rick to the Future</p>
        </div>
        
        <div class="col col-price col-numeric align-center ">
          <p>10€</p>
        </div>

        <div class="col col-qty layout-inline">
          <a href="#" class="qty qty-minus">-</a>
            <input type="numeric" value="3" />
          <a href="#" class="qty qty-plus">+</a>
        </div>
        
        <div class="col col-vat col-numeric">
          <p>2€</p>
        </div>
        <div class="col col-total col-numeric">   
        	<p> 12€</p>
        </div>
      </div>
  
       <div class="tf">
         <div class="row layout-inline">
           <div class="col">
             <p>VAT</p>
           </div>
           <div class="col"></div>
         </div>
         <div class="row layout-inline">
           <div class="col">
             <p>Shipping</p>
           </div>
           <div class="col"></div>
         </div>
          <div class="row layout-inline">
           <div class="col">
             <p>Total</p>
           </div>
           <div class="col"></div>
         </div>
       </div>         
  </div>
    
    <a href="#" class="btn btn-update">Update cart</a>
  
</div>
  





				  <div class="card-body">
				   
				  </div>
			</div>
				
			</div>
			<aside class="col-4 shopping-card">
				<!-- Productos que se añaden a la cesta -->
			</aside>
		</article>
	</section>
	<footer class="container-fluid main-footer">
		<div class="row">
			<div class="col-12">
				<p>All Rights Reserved Fran, Laura Adrián</p>
			</div>
		</div>
	</footer>

	<script src="js/app.js"></script>
</body>
</html>